@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .img:hover + .des{
        display: block;
    }
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spin {
    animation: spin 10s linear infinite; /* Adjust the time (10s) to set the speed */
  }